/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.main-inner-wrapper{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.main-inner-wrapper h1{
    margin-left:auto;
    margin-right:auto;
    line-height:77px;
    font-size:71px;
    text-align:center;
}

.grey-clear-bar{
    display:block;
    position:relative;
    border: 1px solid #8e98a5;
    margin: 25 0 25 0;
    clear:both;
}
/*Data Maps Override*/
#map-container{
    position: relative; 
    padding-top:15px;
}    

#map-container h5{
   padding-bottom:15px;
}   

#map-container-two{
    position: relative; 
    padding-top:15px;
}    


#map-container svg{
    float:right;
}   

#map-container-top-right{
     position: relative; 
}

.map-legend-left{
    float:left;
}

.map-legend-right{
    float:right;
    width:500px;
}

#map-container-three{
    position: relative; 
    padding-top:15px;
    
}    

#map-container-three h5{
    padding-bottom:15px;
}

dl{
    width: 320px;
    background: #fff;
    padding: 5px 15px;
    margin-bottom:25px;
 }

dt{
    display:inline;
    border: 1px solid #000;
     
 }
    
dt.legend-green{
      background:green; 
      padding:5px 15px;
 }
      
dt.legend-yellow{
      background:yellow; 
      padding:5px 15px;
  
      
      }
      
dt.legend-red{
      background:red; 
      padding:5px 15px;
      }
      
dt.legend-orange{
      background:orange; 
      padding:5px 15px;
      }
      
      
dt.legend-brown{
      background:brown; 
      padding:5px 15px;
      }
      
dt.legend-indigo{
      background:indigo; 
      padding:5px 15px;
      }
      
dt.legend-violet{
      background:violet; 
      padding:5px 15px;
      }
      
 dt.legend-blue{
      background:blue; 
      padding:5px 15px;
      }     

dt.legend-gray{
      background:gray; 
      padding:5px 15px;
      }
dt.legend-pink{
      background:pink; 
      padding:5px 15px;
      }       
                  
dd
      {
         display: inline;
      }   