
   <div class="container" id="api-container" ng-app="apiRefApp" ng-controller="ProgramController" data-ng-init="getTblGranteeInfo()">
   
      <h2>API Reference</h2>  
      <h3>Glide Ajax Function</h3>
      <table class="table display compact" id="programs" cellspacing="5" width="100%">
         <thead>
            <tr>
               <th>Method Summary</th>
               <th>Description</th>
            </tr>
         </thead>
        <tfoot>
            <tr>
               <th>Method Summary</th>
               <th>Description</th>
            </tr>
         </tfoot>
         
         <tr id="reference" ng-repeat="reference in references" on-last-repeat="">   
            <td>{{reference.method}}</td>
            <td>{{reference.decription}}</td>
         </tr>
      </table>
   </div>



     
   

