footer {
  height: 60px;
  border-top: 2px solid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .container-fluid {
    .row {
      .col-12 {
        p {
          font-family: "Karla", sans-serif;
          font-size: 14px;
          margin-top: 0.5rem;
          float: right;
        }
      }
    }
  }
}
