footer {
  height: 15px;
  border-top: 2px solid;
  .container-fluid {
    .row {
      .col-12 {
        p {
          font-family: "Karla", sans-serif;
          font-size: 14px;
          margin-top: 0.50rem;
          float: right;
        }
      }
    }
  }
}
