header {
  height: 80px;
  border-bottom: 2px solid;
  .container-fluid {
    .row {
      h1 {
        font-family: "Karla", sans-serif;
        font-size: 38px;
        margin-top: 0.75rem;
      }
      .mainMenuSVG {
        width: 2rem;
        margin-top: 1.25rem;
        cursor: pointer;
        &:hover,
        &:focus {
          animation: menushake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          backface-visibility: hidden;
          transform-origin: top right;
        }
      }

      @keyframes menushake {
        0% {
          transform: rotate(0);
        }
        15% {
          transform: rotate(5deg);
        }
        30% {
          transform: rotate(-5deg);
        }
        45% {
          transform: rotate(4deg);
        }
        60% {
          transform: rotate(-4deg);
        }
        75% {
          transform: rotate(2deg);
        }
        85% {
          transform: rotate(-2deg);
        }
        92% {
          transform: rotate(1deg);
        }
        100% {
          transform: rotate(0);
        }
      }
    }
  }
}
